[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "public"]
	path = public
	url = https://github.com-rakateja/rakateja/rakateja.github.io.git
	branch = master
