[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/taikii/whiteplain.git
[submodule "public"]
	path = public
	url = git@github.com:rakateja/rakateja.github.io.git
	branch = main
